.info-1 {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: 楷体;
    font-size: 19px;
    color: saddlebrown;

    /*background: #f2e7ca url(images/templatemo_body.jpg) top center no-repeat;*/
}



h1 {
    margin: 0px auto;
}

.hd img {
    width: 100%;
    height: 200px;
    /* background-image: url(); */
}

.hd-1 {
    float: left;
    width: 50%;
    /*background: url("../imgs/tu.jpg");*/
    height: 100%;
    /* margin: 0 auto; */
}



/*body {*/
    /*background: url("../imgs/gz.png") no-repeat;*/
    /*background-size: 100%;*/
    /*!*background-position: center center;*!*/
    /*!*background-repeat: no-repeat;*!*/
    /*!*background-attachment: fixed;*!*/
    /*!*background-size: cover;*!*/

/*}*/

#roll {
    /* background: #F6BF76; */
    /*border: 1px solid red;*/
    height: 100%;
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
    list-style: none;
    box-sizing: border-box;
    border-top: 2px solid #FFF1AF;
}

.hd-1 span {
    float: left;
    display: inline-block;
    font-size: 15px;
    /*width: 40px;*/
    font-family: 楷体, sans-serif;
}

i {
    float: right;
    display: inline-block;
    /*width: 40px;*/
    font-size: 15px;
    /*margin-top: 200px;*/
    margin-right: 10px;
    font-family: 楷体, sans-serif;
}

#roll li {
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    /* border-bottom: 2px solid orange; */
    color: red;
}

a {
    /*font-size: 12px;*/
    text-decoration: none;
    font-family: '宋体';
}

.info-1 {
    margin-left: 10px;
    overflow: hidden;
    max-height: 500px;
}

.hd-2 {
    float: left;
    width: 35%;
    background: saddlebrown;
    height: 100%;
    position: relative;
}


p {
    letter-spacing: 2px;
}

.hd-3 {
    float: left;
    width: 15%;
    background: green;
    height: 100%;
}

.bd {
    width: 99%;
    /*height:99%;*/
    /*border: 1px solid rebeccapurple;*/
    margin: 10px auto;
    /*border: 5px solid olive;*/

}

.bd-1 {
    float: left;
    width: 25%;
    /*border: 1px solid red;*/
    height: 845px;
    /* background: url("./imgs/gdbbj.png"); */
    overflow: hidden;
    box-sizing: border-box;
    /* border: 2px solid #990000; */
}

.zuo {
    width: 70%;
    /*height: 345px;*/
    float: left;
}

.you {
    float: left;
    width: 30%;
    /*height: 345px;*/
}

.di {
    /* background-size: 100%; */
    box-sizing: border-box;
    /* border: red 1px solid; */
    /* height: 500px; */
}

.di img {
    width: 100%;
    height: 500px;
}

.bd-2 {
    float: left;
    width: 75%;
    height: 845px;
    /*margin-left: 2px;*/
    box-sizing: border-box;
    /* border: 2px solid #990000; */
    /* overflow: hidden; */
}


.head1 img{
    width: 100%;
    height: 200px;
}
body{
    background: url("../imgs/gz.png") no-repeat;
    background-size: 100%;
    font-family: 楷体,sans-serif;
}


.bd{
    width: 100%;
    /*height: 388px;*/
    /*border: 1px solid red;*/
}
.left{
    /*float: left;*/
    width: 100%;
    box-sizing: border-box;

    /*border: 1px solid red*/
}
.left-in{
    width: 80%;
    margin: 0 auto;
}
.right{
    /*float: right;*/
    /*width: 50%;*/
    /*height: 648px;*/
}
.tip{
    width: 80%;
    height: 50px;
    background: #e0e0e0d6;
    margin: 0 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}
a{

    text-decoration: none;
    color: black}
.inpt {
    margin-left: 26px;
    border: 2px solid #9e6c34;
    border-radius: 3px;
    width: 80%;
    position: relative;
}
.item img {
    margin-top: 10px;
    width: 18px;
}
.inpt .txt {
    background-color: transparent;
    margin: 0px;
    font-size: 16px;
    outline: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 0px;
}


.item div{
    float: left;
    margin-top: 20px;
}
.inpd .textarea {
    resize: none;
    width:100%;
    height: 100px;
}
.inpd{
    width: 80%;
}
.textarea{
    font-size: 30px;

    margin-left: 26px;
    border: 2px solid #9e6c34;
    border-radius: 3px;

}
.fo{
    margin: 0 auto;
    width: 80%;
}
button{
    width: 330px;
    height:68px;
    background: url("../imgs/btn-donate.png") no-repeat;
    border-style: none;
    /*background: #9e6c34;*/
    margin: 20px auto;
}
form{
    width: 100%;
}
.bt{
    width: 330px;
    margin: 0 auto;
}
.money{
    width: 100%;
    height: 100px;
    background: #cccccc36;
    border-style: none;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    border-radius: 100px;
    /*margin: 20px auto;*/
}
#juankuan{
    width: 100%;
    height: 100px;
    background: #cccccc36;
    border-style: none;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    border-radius: 100px;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}